#markdown {
    background-color: rgb(255, 225, 187);
    padding: 1em;
}

#markdown code {
    font-family: Consolas, monospace;
    color: rgb(225, 225, 225);
    background-color: rgb(122, 79, 36);
    display: block;
    padding: 1em;
}

#markdown * {
    font-family: Arial, sans-serif;
}

#markdown h1 {
    display: block;
    background-color: rgb(209, 151, 81);
    margin: -0.5em;
    padding: 0.5em;
    font-weight: 900;
}

#markdown h2 {
    padding-top: 1.5em;
}

#markdown h3 {
    font-style: italic;
}