#markdown {
    background-color: bisque;
    padding: 1em;
}

#markdown * {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
}

#markdown code {
    font-family: Consolas, monospace;
}

#markdown pre>code {
    color: bisque;
    background-color:rgb(105, 52, 15);
    display: block;
    padding: 1em;
}

#markdown p>code {
    color: rgb(122, 79, 36);
    padding: 0.5em;
    font-weight: bold;
    background-color: burlywood;
}

#markdown h1 {
    display: block;
    background-color: burlywood;
    margin: -0.5em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

#markdown h2 {
    padding-top: 1.5em;
}

#markdown h3 {
    font-style: italic;
}

#markdown table {
    border-collapse: collapse;
    /* 合并边框 */
}

#markdown th,
td {
    border: 1px solid black;
    padding: 0.5em;
}

#index td {
    border: none;
}